version: '3.8'

services:
  # ----------------------------
  # 1. ZOOKEEPER
  # ----------------------------
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  # ----------------------------
  # 2. KAFKA
  # ----------------------------
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  # ----------------------------
  # 3. KAFKA SETUP
  # ----------------------------
  kafka-setup:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka-setup
    depends_on:
      - kafka
    command:
      - /bin/bash
      - -c
      - |
        echo "Waiting for Kafka to be fully ready..."
        sleep 15
        # FIX: We must use port 29092 here because this container is INSIDE Docker
        kafka-topics --create --if-not-exists --topic employee-raw-stream --partitions 1 --replication-factor 1 --bootstrap-server kafka:29092
        kafka-topics --create --if-not-exists --topic employee-mental-health-stream --partitions 1 --replication-factor 1 --bootstrap-server kafka:29092
        kafka-topics --create --if-not-exists --topic employee-productivity-stream --partitions 1 --replication-factor 1 --bootstrap-server kafka:29092
        echo "All employee topics created successfully."

  # ----------------------------
  # 4. MONGODB
  # ----------------------------
  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
    volumes:
      - mongo-data:/data/db

  # ----------------------------
  # 5. MONGO EXPRESS
  # ----------------------------
  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: password123
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password123
      ME_CONFIG_MONGODB_URL: mongodb://admin:password123@mongo:27017/
    depends_on:
      - mongo

volumes:
  mongo-data: